<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
	<system.diagnostics>
		<sources>
			<source name="Open.HttpProxy" switchValue="Off" >
        <!--switchValue="Information, ActivityTracing, Verbose"-->
        <listeners>
					<add name="console" type="System.Diagnostics.ConsoleTraceListener" >
						<filter type="System.Diagnostics.EventTypeFilter" initializeData="Error" />
					</add>
					<remove name="Default" />
					<add type="System.Diagnostics.DefaultTraceListener" name="DefaultServer" />
					<add name="XmlServer" />
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add initializeData="ProxyTest.svclog"
           type="System.Diagnostics.XmlWriterTraceListener"
           name="XmlServer" traceOutputOptions="Callstack" />
		</sharedListeners>
		<trace autoflush="true" />
	</system.diagnostics>
</configuration>
